<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var wrigley = {lat: 41.9484, lng: -87.6553};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: wrigley
        });
        var marker = new google.maps.Marker({
          position: wrigley,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRpgQN5D9dI_8AnHd9QKFwMO5qKV1AUmk&callback=initMap">
    </script>
  </body>
</html>